<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg12">Gestor de clientes</h1>
        <button on-click="obtenerClientes">Obtener Clientes</button>
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes:{
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes_deprecated(){
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request=new XMLHttpRequest();
        request.onreadystatechange=function(){
          if (this.readyState == 4 && this.status == 200){
              this.clientes = JSON.parse(request.responseText).value;
              console.log(this.clientes);
          }
        }
        request.open("GET", url, false);
        request.send();
      }

      obtenerClientes() {
        //var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url="https://api.mlab.com/api/1/databases/dbbanca2/collections/movimientos?apiKey=HpRzVsg4Fc_mb2_Rshem6s6jwQye4IMm";
        var request=new XMLHttpRequest();

        request.open("GET", url, false);
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
      anadirCliente() {
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request=new XMLHttpRequest();

        request.open("POST", url, false);
        request.setRequestHeader("Accept", "aplication/json");
        request.setRequestHeader("Content-Type", "aplication/json");
        var nuevoCliente={"CustomerID": "12345",
                          "ContactName": "Nombre del contacto",
                          "CompanyName": "BBVA"};
        var body=JSON.stringfy(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
