<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="mi-visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Indique su usuario [[prop1]]</h2>
    <h3>El valor de mi visor es [[prop2]]</h3>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
    <div class="container">
      <div class="row">
        <img width="200px" height="200px" src="https://image.flaticon.com/icons/svg/201/201559.svg"/><br><br>
        <button on-click="incrementar" class="col-lg--4 col-xs-12">Cargar Datos</button><br><br>
        <!-- esto es un comentario -->
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}"/><br><br>
        <!-- <input type="text" placeholder="[[prop3]]"/><br><br> -->
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Dolores</td>
              <td>Fuertes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Nombre</td>
              <td>Apellidos</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisorApp extends Polymer.Element {
      static get is() { return 'mi-visor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            //<!-- value: 'mi-visor-app' -->
            value: ''
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2=this.prop2+1;
        console.log("Propiedad 1 " + this.prop1 + "Propiedad 2 " + this.prop2 + ".")
      }
    }

    window.customElements.define(MiVisorApp.is, MiVisorApp);
  </script>
</dom-module>
